.Hangman {
  width: 80%;
  margin-top: 10px;
}

.text-uppercase {
  color: #007bff;
  font-weight: 700;
}

.float-right,
.guess {
  color: #007bff;
  font-weight: 600;
  font-size: 1.2rem;
}

.answer {
  font-weight: 600;
  font-size: 1.2rem;
  color: #007bff;
}

.won {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(27, 189, 27);
}

.lost {
  font-weight: 600;
  font-size: 1.2rem;
  color: red;
}
